body{
  font-family: cursive;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Fakultet_organizacionih_nauka%2C_Beograd_11.jpg/1200px-Fakultet_organizacionih_nauka%2C_Beograd_11.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}

.mainPage,.login,.register,.unauthorized,.option,.missing
.create,.update,.delete,.changePassword{
  height: 900px;
  padding:20px 20px 20px 20px;
}

.footer{
  background-color: black;
  height: 120px;
  color: white;
  padding: 5px 5px 5px 5px;
  text-align: center;
}

#btn-login,
#btn-register,
#btn-goBack,
#btn-save,
#prepareDelete,
#cancel,
#btn-changePassword{
  width: auto;
  cursor: pointer;
  margin-top: 15px;
}

#cancel,#prepareDelete{
  border-radius: 20px;
}

#btn-login:hover,
#btn-register:hover,
#btn-goBack:hover,
#btn-save:hover,
#prepareDelete:hover,
#cancel:hover,
#btn-changePassword,
.btn-add-question-test:hover{
  background-color: grey;
  color:white;
  transition: background-color 0.5s linear 0.1s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}

.btn-login,
.btn-register,
.homePage,
.btn-logout{
    margin-top:20px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    background: none;
    color: wheat;
    cursor: pointer;
    text-decoration: none;
}

.btn-login:hover,
.btn-register:hover,
.homePage:hover,
.btn-logout:hover{
  color:white;
}

.homePage{
  padding-left: 10px;
}

.link{
  text-align: center;
  margin-top: 15px;
}

.registerLink,.missingLink,.forgotPasswordLink{
  color:wheat;
}

.registerLink:hover,
.missingLink:hover,
.forgotPasswordLink:hover{
  color:blue;
}

.login-form,
.register-form,
.create-form,
.update-form,
.delete-form,
.changePassword-form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-div,
.register-div,
.unauthorized-div,
.missing-div,
.create-div,
.update-div,
.delete-div,
.changePassword-div{
  border: 2px solid white;
  border-radius: 20px;
  width: 20%;
  padding: 10px 10px 10px 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  color:white;
  width: auto;
  height: auto;
}

.create-div,.update-div,.delete-div{
  backdrop-filter: blur(9px);
}

input{
  margin-top: 10px;
  border-radius: 15px;
}

#passwordErr,#emailErr,#firstnameErr,#lastnameErr,#indexErr,#birthErr,#registrationTokenErr,
#contentErr,#oldPasswordErr,#newPasswordErr,#confirmNewPasswordErr,#pointsErr{
  background: none;
  border: none;
  color:red;
  visibility: hidden;
}

label{
  margin-top: 10px;
  color:wheat;
}

.button{
  text-align: center;
}

.navigationBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homePage{
  padding-left: 10px;
}

.credentials{
  text-align: center;
  color:white;
}

#alert,#alert-delete,
#alertPassword,#alertGet,
#alertPoints{
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  visibility: hidden;
}

#alertWrong{
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#box,#box-delete{
  border-radius: 5px; 
  height: auto;
  width: auto;
  float:left;
  text-align: center;
  box-shadow: 2px 2px 8px black;
  background-color: white;
}

.obavestenje,.obavestenje-delete{
  background-color: saddlebrown;
  color: white;
  font-size: larger;
  padding:5px;
}

.sadrzaj,.sadrzaj-delete{
  margin-top: 30px;
  font-size: larger;
  font-weight: bolder;
}

#confirm,#delete{
  height: 25px;
  width: 80px;
  border-radius: 8px;
  background-color: aliceblue;
  color: saddlebrown;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 400px;
  box-sizing: border-box;
  font-size: medium;
  font-weight: bold;
}

#textAlertGet{
  color: black;
}

#delete{
  margin-top: 20px;
  margin-left: 10px;
}

#confirm:hover,
#delete:hover{
  background-color: #FF8000;
  color: aliceblue;
  transition: background-color 0.5s linear 0.1s;
}

.button-delete{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexGrow {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex;
}

.options-entity{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  max-height: 100%;
}

.title{
  margin-top: 10%;
  text-align: center;
  color:whitesmoke;
}

.linkOption{
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 10px 10px 10px 10px;
  margin-top: 15px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.464);
  backdrop-filter: blur(2px);
  color: white;
  text-decoration: none;
}

.linkOption:hover{
  background-color: rgba(0, 0, 0, 0.82);
  backdrop-filter: blur(2px);
}

.option{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tableStudents,.tableTests,.tableExams{
  border: 2px solid black;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.464);
  backdrop-filter: blur(2px);
  color: wheat;
  text-align: center;
  border-radius: 20px;
  margin-top: 5%;
}

th{
  border-bottom: 2px solid white;
}

.searchCriteria{
  margin-bottom: 20px;
}

.criteria{
  margin-left: 10px;
}

#selectionOption{
  margin-top: 10px;
}

.setPoints{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttonExamsOfStudent{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btn-remove-student-exam,
#btn-remove-question-test{
  margin-top: 3px;
  border-radius: 20px;
  cursor: pointer;
}

.btn-remove-student-exam:hover,
.btn-add-student-exam:hover,
#btn-add-question-test:hover,
#btn-remove-question-test:hover{
  background-color: grey;
  color:white;
  transition: background-color 0.5s linear 0.1s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}

.listOfExams,.listOfQuestions{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.div-list-exams,.div-list-questions{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn-add-student-exam,#btn-add-question-test{
  border-radius: 20px;
  margin-top: 40px;
  border-radius: 20px;
  cursor: pointer;
}

.btn-add-question-test{
  border-radius: 20px;
  border: 2px solid black;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
  color:black;
  background-color: white;
}

.btn-confirm{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#btn-save-test,
#link-add-question-test{
  height: 25px;
  width: auto;
  border-radius: 8px;
  border: 2px solid black;
  background-color: aliceblue;
  color: saddlebrown;
  cursor: pointer;
  margin:20px 5px 5px 5px;
  box-sizing: border-box;
  font-size: medium;
  font-weight: bold;
  text-decoration: none;
}

#btn-save-test:hover,
#link-add-question-test:hover{
  background-color: #FF8000;
  color: aliceblue;
  transition: background-color 0.5s linear 0.1s;
}

#btn-unselectAll{
  margin-top: 5px;
  width: auto;
  border-radius: 20px;
  cursor: pointer;
}

#btn-unselectAll:hover{
  background-color: grey;
  color:white;
  transition: background-color 0.5s linear 0.1s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}

