body{
  font-family: cursive;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Fakultet_organizacionih_nauka%2C_Beograd_11.jpg/1200px-Fakultet_organizacionih_nauka%2C_Beograd_11.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}

.navBar{
  display: flex;
  justify-content: end;
  padding: 10px 10px 10px 10px;
  height: 100px;
}

.auth{
  margin-left: 10px;
}

.mainPage{
  height: 900px;
  padding-left: 20px;
}

.footer{
  background-color: black;
  height: 120px;
  color: white;
  padding: 5px 5px 5px 5px;
  text-align: center;
}